<ul class="pagination">
    <li ng-show="results.pagination.previous">
        <a ng-click="previous()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="disabled" ng-hide="results.pagination.previous">
        <span aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </span>
    </li>
    <li ng-repeat="(key,value) in results.pagination.pagination" ng-class="{'active': value.active }">
        <a href="#" ng-click="changePage(value.pageNumber)">{{ value.pageNumber }}</a>
    </li>
    <li ng-show="results.pagination.next ">
        <a href="#" aria-label="Next" ng-click="next()">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    <li class="disabled" ng-hide="results.pagination.next">
        <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>